:root {
  --color-400: hsl(245, 59%, 66%);
  --color-300: hsl(50, 15%, 54%);
  --color-200: hsl(51, 59%, 66%);
  --color-600: hsl(243, 7%, 49%);
  --color-700: hsl(51, 13%, 32%);
  --color-800: hsl(245, 47%, 15%);

  --ff-main: "citrus-gothic-inline", sans-serif;
  --ff-second: "citrus-gothic-shadow", sans-serif;
  --ff-third: "citrus-gothic-rough", sans-serif;
  
}

/* general settings */

body {
  font-family: var(--ff-main);
  background-image: linear-gradient(to top, hsl(51, 13%, 0%), 80%, hsl(51, 13%, 32%));
  height: 100%;
  color: white;
  text-align: center;
  font-size: 2rem;
}

ul {
  list-style-type: none;
}

h1 {
  font-family: var(--ff-third);
  font-size: 8rem;
  color: white;
  text-shadow: 0px 5px 5px hsl(50, 15%, 54%), inset 0px 3px 3px black, inset 0px -3px 3px black;
  font-style: italic;
  padding: .5rem .8rem;
  border-radius: .75rem;
  box-shadow: inset 0px -3px 3px hsl(51, 13%, 32%), inset 0px 4px 4px hsl(51, 13%, 13%), 0px 3px 3px hsl(51, 13%, 19%);
  z-index: 5;
}


p {
  font-size: 3rem;
}



/* utility */

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.grid-container {
  display: grid;
}

.wrapper {
  margin-inline: auto;
  padding-inline: 2rem;
  
}

.space-between {
  justify-content: space-between;
}

.overflow {
  overflow: auto;
}

.gap {
  gap: 1rem
}

/* components with state */
  /* buttons */
button {
  font-size: 1.75rem;
  background-color: white;
  background-image: linear-gradient(to bottom, white, 95%, hsl(51, 66%, 66%));
  font-family: var(--ff-third);
  box-shadow: 0px 3px 3px white;
  text-shadow: 2px 2px var(--color-800), inset 0 2px 2px var(--color-700);
}

button:hover {
  background-color: var(--color-200);
  color: var(--color-400);
  box-shadow: 0px 3px 3px var(--color-400);
}

button:active {
  color: var(--color-700);
  background-color: var(--color-700);
  box-shadow: 0px 0px 0px var(--color-700);
  margin-top: 3px;
  margin-bottom: -3px;
}

/* links */

a {
  color: white;

}

a:hover {
  color: var(--color-400)
}

a:active {
  color: var(--color-700)
}

#portfolio a {
  font-family: var(--ff-main);
}

/* section components */

.social li {
  display: inline;
}


#contact a {
  font-family: var(--ff-second);
}

/* keyframes */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  80% {
    opacity: 0;
  }

  90% {
    opacity: 0.8
  }

  100% {
    opacity: 1;
  }
}


@keyframes bounceIn {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  65% {
    transform: scale(0.1);
    opacity: 0;
  }
  95% {
    transform: scale(1.2);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes floatLeft {
  0% {
    transform: translateX(25rem);
    opacity: 0;
  }
  55% {
    opacity: 1;
  }
  100% {
    transform: translateX(0rem);
  }
}
    
.animation-fadeIn {
  animation-name: fadeIn;
  animation-duration: 3s;
}

.animation-bounceIn {
  animation-name: bounceIn;
  animation-duration: 4s;
}

.animation-floatLeft {
  animation-name: floatLeft;
  animation-duration: 3s;
}


/* header */





/* main */


/* hero */

.hero {
  height: 50rem;
  width: 100vw;
  justify-content: center;
  align-items: center;

}

.cta-buttons {
  position: relative;
  
  gap: 2rem;
  justify-self: center;
}

.cta-buttons button {
  font-size: 2.5rem;

}

.banner {
  justify-content: space-around;
  align-items: center;
  margin-block: 1rem;
}


/* portfolio */

#portfolio {
  
  position: relative;
  bottom: 44rem;
  visibility: hidden;
}

.picstack img {
  width: 10rem;
  height: auto;
}

.portfolio-pic img {
  width: 20rem;
  height: auto;
  position: absolute;
  z-index: 5;
  border-radius: .5rem;
}



/* about */



#about {
  background-image: linear-gradient(to bottom, hsl(51, 59%, 66%), 50%, hsl(51, 59%, 46%));
  color: hsl(51, 13%, 20%);
  height: 25%;
  width: 25%;
  z-index: 5;
  justify-self: end;
  position: relative;
  bottom: 65%;
  right: 5%;
}

/* contact */

#contact {
  width: 100%;
  color: white;
  position: relative;
  top: 4rem;
  visibility: hidden;
}

#contact .flex-container {
  align-items: center;
}

#contact h2 {
  text-align: center;
  width: 25%;
  justify-self: center;
  font-family: var(--ff-second);
  font-style: italic;
}

.contact-info {
  position: relative;
  top: 1rem;
}

/* background */

.background {
  width: 98%;
  height: 98%;
  justify-content: center;

}

.togglableItem {
  visibility: visible;
}