:root {
--color-400: hsl(245, 59%, 66%);
--color-300: hsl(50, 15%, 54%);
--color-200: hsl(51, 59%, 66%);
--color-600: hsl(243, 7%, 49%);
--color-700: hsl(51, 13%, 32%);
--color-800: hsl(245, 47%, 15%);

--ff-main: "citrus-gothic-inline", sans-serif;
--ff-second: "citrus-gothic-shadow", sans-serif;
--ff-third: "arial", sans-serif;

--fs-header: 2.5rem

}

/* general settings */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: var(--ff-main);
  color: white;
  text-align: center;
  font-size: 1.2rem;
  background-image: linear-gradient(to bottom, hsl(51, 13%, 24%), hsl(51, 13%, 15%));
}

p {
  font-family: var(--ff-third);

}

ul {
  list-style-type: none;
}

h1 {
  font-size: 3.5rem;
  color: var(--color-700);
  text-shadow: 2px 2px hsl(51, 13%, 20%);
}

h2,
h3 {
  text-shadow: 1px 1px hsl(51, 13%, 20%);
}

.portrait img {
  max-width: 100%;
  height: auto;
  border-radius: 15px;
}

.blowup img {
  width: 16rem;
  height: auto;
}

.collage img {
  width: 8rem;
  height: auto;
}

.toon-portrait img {
  width: 20rem;
  height: auto;
}

/* Utility Classes */

.flex-container {
  display: flex;
  flex-basis: 1 1 100%;
}

.flex-column {
  flex-direction: column;
}

.grid-container {
  display: grid;

}

.space-between {
  justify-content: space-between;
}

.wrapper {
  margin-inline: auto;
  padding-inline: 1rem;
  flex-wrap: wrap;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}


/* Psuedo Items ====================================
Anchor tags */

header span {
  font-size: var(--fs-header)
}

header a {
  font-family: var(--ff-second);
  color: white;
  text-decoration: none;
  font-size: 2.1rem;
}

header a:hover,
header .name:hover {
  color: var(--color-400);
}

header a:active,
header .name:active {
  color: var(--color-600);

}

#portfolio a {
  font-family: var(--ff-main);
  color: white;
  text-decoration: none;
}

#portfolio a:hover {
  color: var(--color-400);
}

#portfolio a:active {
  color: var(--color-600);

}

/* buttons */

button {
  color: var(--color-700);
  font-family: var(--ff-main);
  font-style: italic;
  font-size: 1.4rem;
  padding: .5rem 1rem;
  border-radius: 5px;
  border: 1px solid var(--color-700);
  box-shadow: 0px 3px 3px var(--color-800);
}

button:hover {
  color: var(--color-400);
  box-shadow: 0px 3px 3px var(--color-400);
}

button:active {
  color: var(--color-600);
  box-shadow: 0px 0px 0px var(--color-600);
  margin-top: 3px;
  margin-bottom: -3px;
}

/* images */

.portrait img:hover {
  opacity: .8;
}

.collage:hover,
.blowup:hover {
  scale: 1.1;
}

footer i:hover {
  color: white;

}

/* Layout ==========================================
header */

header {
  font-size: 1.5rem;
  padding-block: 1rem;
}

header .grid-container {
  grid-template-columns: repeat(9, 1fr);
  align-items: center;
}

header .name {
  grid-column: 1 / span 3;
}

header nav {
  grid-column: 4 / span 4;
}


header li {
  display: inline;
  padding-inline: .5rem;
}

/* hero */

.hero {
  margin-block: 2rem;
  padding-inline: 8rem;
  align-content: center;

}

.hero .grid-container {
  border: transparent;
  border-radius: 15px;
  margin: 0;
  padding-block: 4rem;
}

.hero-cta {
  padding-block: 2rem;
}


.portrait {
  border: 1px solid var(--color-700);
  width: fit-content;
  align-content: center;
  margin: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.headline {
  background-color: white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  align-content: center;
  height: 100%;
}

.hero p {
  color: var(--color-700);
  font-size: 1.2rem;
}

#profile-info {
  background-color: var(--color-300);
  width: 50%;
  text-align: center;
  align-self: center;
  display: none;
}

#profile-info span {
  align-self: center;
}

/* portfolio */

#portfolio {
  padding-inline: 6rem;
  background-color: var(--color-200);
  padding-bottom: 6rem;
}



#portfolio .flex-container {
  justify-content: center;
}

#portfolio h2 {
  padding-block: 2rem;

}

#portfolio h3 {
  margin-block: 2rem;
}

.project {
  background-color: hsl(51, 13%, 22%);
}

.project figcaption {
  padding-top: 2rem;
}

.project .card {
  padding-inline: 4rem;
}

.message {
  padding-bottom: 2rem;
}

.blowup {
  display: none;
}

/* about */

#about {
  background-color: var(--color-600);
  padding-inline: 6rem;
}

#about .grid-container {
  width: 100%;

}

#about h2,
#bio-head h3,
#bio-head p {
  padding-block: 2rem;
}

#about .background {
  padding-inline: 6rem;
  background-image: linear-gradient(to bottom, hsl(51, 13%, 20%), hsl(51, 13%, 15%));
  justify-self: center;
}

#bio-head {
  height: fit-content;

  background-color: var(--color-200);
  justify-self: center;
  color: var(--color-700);
  margin-bottom: 1rem;
}

.border {
  padding-top: 4rem;
  padding-inline: 3rem;
}

.experience,
.education {
  padding-inline: 2rem;
}

.experience h3,
.education h3 {
  padding-block: 1rem;
}

.left-column ul {
  padding-right: 2rem;
}

.left-column li {
  display: inline;
  font-family: var(--ff-third);
}

.middle-column {
  background-color: var(--color-200);
  color: var(--color-700);
  padding-bottom: 2rem;
}

/* footer */

footer {
  height: 8rem;
  background-color: var(--color-600);
  padding-inline: 6rem;
  align-content: center;
}

footer .card {
  background-color: hsl(51, 13%, 15%);
  height: 100%;
  justify-content: center;
  gap: 2rem;
}

footer i {
  scale: 2;
  color: var(--color-200);
}

footer .flex-container {
  align-items: center;
}

/* speech bubble */

.speech-bubble {
  background-color: var(--color-200);
  color: var(--color-700);
  border-radius: 20px;
  padding: 15px;
  margin: 20px;
  position: relative;
  width: 200px;
  grid-column: 3 / span 2;
  grid-row: 1 / span 1;
  z-index: 5;
  display: none;
}

.speech-bubble::before,
.speech-bubble::after {
  content: '';
  position: absolute;
  bottom: -20px;
  left: 30px;
  border-top: 20px solid var(--color-200); /* Same background color */
  border-left: 20px solid transparent;
  border-right: 0 solid transparent;
  height: 0;
  width: 0;
}

.speech-bubble::after {
  left: 10px;
  border-top: 20px solid var(--color-200); /* Same background color */
  border-left: 20px solid transparent;
  border-right: 0 solid transparent;
  transform: translateX(20px); /* Adjust for overlap */
}

/* media queries =========================================
desktop */

@media only screen and (min-width: 1096px) {
  /* hero section */
  .hero .grid-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
  }

  .portrait {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    align-content: center;
  }

  .headline {
    grid-column: 3 / span 4;
  }

  #about .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  
}

/* breakpoint 1 */ 

@media only screen and (min-width: 832px) and (max-width: 1096px) {
  /* hero section */

  .hero {
    padding-inline: 6rem;
  }

  .hero .grid-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr;
    align-items: center;

  }

  .portrait {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    align-content: center;
  }

  .headline {
    grid-column: 3 / span 4;
  }

  #about .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    margin: .5rem;
    font-size: 2.5rem;
  }
  
}

/* breakpoint 2 */ 

@media only screen and (min-width: 600px) and (max-width: 832px) {
  /* hero section */

  .hero {
    padding-inline: 4rem;
  }

  .hero .grid-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr;
    align-items: center;

  }

  .portrait {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    align-content: center;
  }

  .headline {
    grid-column: 3 / span 4;
  }

  #about .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    margin: .5rem;
    font-size: 2.5rem;

  }

  .hero-cta {
    padding-block: .5rem;
  }
  
  #portfolio {
    padding-inline: 4rem;
  }
  
}


/* mobile */

@media only screen and (max-width: 600px) {
  /* hero section */

  .hero {
    padding-inline: 2rem;
  }

  .hero .grid-container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 2fr;
  }

  .portrait {
    grid-column: 1 / span 6;
    grid-row: 2 / span 1;
    align-content: center;
  }
  

  .headline {
    grid-column: 1 / span 6;
  }

  #about .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }

  h1 {
    margin: .25rem;
    font-size: 2.5rem;

  }
  .blowup img {
    width: 12rem;
    height: auto;
  }
  
  .collage img {
    width: 6rem;
    height: auto;
  }

  #portfolio {
    padding-inline: 2rem;
  }
  
}

/* animations ==================================
nameFlasher */

@keyframes itemFlasher {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.5;
    color: red;
  }
  50% {
    opacity: 1;
    color: white;
  }
  75% {
    opacity: 0.5;
    color: blue;
  }
  100% {
    opacity: 0;
  }
}

.animation-item-flasher {
  animation-name: itemFlasher;
  animation-duration: 1.25s;
}



@keyframes floatLeft {
  0% {
    transform: translateX(15rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

.animation-floatLeft {
  animation-name: floatLeft;
  animation-duration: 2s;
}


@keyframes floatRight {
  0% {
    transform: translateX(-15rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0rem);
    opacity: 1;
  }
}

.animation-floatRight {
  animation-name: floatRight;
  animation-duration: 2s;
}

